<p id="notice"><%= notice %></p>

<h1>OFFICE INFO<h1>

<p>
  <strong>Building:</strong>
  <%= @office.building_name %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @office.floor_number %>
</p>

<p>
  <strong>Room:</strong>
  <%= @office.room_number %>
</p>

<br>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
