<p id="notice"><%= notice %></p>

<h1>MSU DENVER TEACHERS</h1>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>ID</th>
      <th>Email</th>
      <th>Office</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.first_name %></td>
        <td><%= teacher.last_name %></td>
        <td><%= teacher.nine_hundred %></td>
        <td><%= teacher.email %></td>
        <td><%= link_to teacher.office_id, Office.find(teacher.office_id) %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= button_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


          <%= link_to 'New Teacher', new_teacher_path %> |
          <%= link_to 'Offices', Office %>
